*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  height: 100px;
  background-color: #e579e6;
}

/* struttura */

header, footer, .section-top, .section-bottom{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/* struttura superiore */

.section-top{
  height: 400px;
  background-color: #e1d67a;
}

/* struttura inferiore */

.section-bottom{
  height: 700px;
  background-color: #0186fe;
}

main .section-bottom .top{
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  background-color: #abcfe7;
}

.left, .center, .right{
  float: left;
}

main .section-bottom .left{
  width: 19%;
  height: 570px;
  margin-right: 2%;
  background-color: #abcfe7;
}

main .section-bottom .center{
  width: 58%;
  height: 570px;
  margin-right: 2%;
  background-color: #abcfe7;
}

main .section-bottom .right{
  width: 19%;
  height: 570px;
  background-color: #abcfe7;
}

/* chiusura */

footer{
  height: 80px;
  margin-bottom: 0;
  background-color: #8801fe;
}



